@import '../../variables.scss';

.header {
	min-height: 80px;
	padding: 0 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: $background;
	color: #FFFFFF;
	font-weight: 700;
}

.logo, .user {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.logo {
	gap: 24px;

	& span {
		@media (max-width: 520px) {
			display: none;
		}
	}
}

.user {
	gap: 16px;

	& img {
		@media (max-width: 375px) {
			display: none;
		}
	}
}
